@font-face {
    font-family: "kto";
    src: url("./kto.eot?1e9aab5b50231dd9854cb65da92d5d0c#iefix") format("embedded-opentype"),
url("./kto.woff2?1e9aab5b50231dd9854cb65da92d5d0c") format("woff2"),
url("./kto.woff?1e9aab5b50231dd9854cb65da92d5d0c") format("woff");
}

i[class^="kto-"]:before, i[class*=" kto-"]:before {
    font-family: kto !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.kto-blank:before {
    content: "\0xA0";
}
.kto-linkedin:before {
    content: "\f101";
}
.kto-facebook:before {
    content: "\f102";
}
.kto-apple:before {
    content: "\f103";
}
