{
  "openapi": "3.0.1",
  "info": {
    "title": "API Katolika — collections métier",
    "description": "Spécification des endpoints de contenu de l'instance Directus Katolika.\n\nSeules les collections créées pour le projet sont documentées ici ; les endpoints système (`/auth`, `/users`, `/files`, `/schema`, `/flows`…) ont été retirés et restent décrits dans la documentation Directus.\n\nLes chemins et les tags suivent la hiérarchie métier du projet plutôt que l'ordre alphabétique : organisations, personnes (fonctions, sacrements, obsèques, saints, faritra), célébrations, articles, lieux, chants.\n\nToutes les opérations exigent une authentification par jeton porteur (`Authorization: Bearer <token>`) ou par paramètre `access_token`. Les enregistrements réellement accessibles dépendent des permissions du rôle associé au jeton.",
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "https://api.katolika.net",
      "description": "Instance Directus de production Katolika."
    }
  ],
  "security": [
    {
      "Auth": []
    },
    {
      "KeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Organizations",
      "x-collection": "organizations",
      "x-group": "Organisations",
      "x-parent-collection": null,
      "description": "**Organisations** — Arborescence des entités ecclésiales : paroisse, faritra, mouvements et groupes."
    },
    {
      "name": "OrganizationsTranslations",
      "x-collection": "organizations_translations",
      "x-group": "Organisations",
      "x-parent-collection": "organizations",
      "description": "**└ Traductions d'organisations** — Nom d'une organisation dans une langue donnée."
    },
    {
      "name": "Persons",
      "x-collection": "persons",
      "x-group": "Personnes",
      "x-parent-collection": null,
      "description": "**Personnes** — Registre central des personnes. Table pivot référencée par les baptêmes, mariages, fonctions et chants."
    },
    {
      "name": "Functions",
      "x-collection": "functions",
      "x-group": "Personnes",
      "x-parent-collection": "persons",
      "description": "**└ Fonctions** — Référentiel des fonctions et responsabilités exerçables au sein d'une organisation."
    },
    {
      "name": "FunctionsTranslations",
      "x-collection": "functions_translations",
      "x-group": "Personnes",
      "x-parent-collection": "functions",
      "description": "**└ Traductions de fonctions** — Intitulé d'une fonction dans une langue donnée."
    },
    {
      "name": "FunctionAssignations",
      "x-collection": "function_assignations",
      "x-group": "Personnes",
      "x-parent-collection": "functions",
      "description": "**└ Attributions de fonction** — Nomination d'une personne à une fonction dans une organisation, sur une période donnée."
    },
    {
      "name": "FunctionAssignationsTranslations",
      "x-collection": "function_assignations_translations",
      "x-group": "Personnes",
      "x-parent-collection": "function_assignations",
      "description": "**└ Traductions d'attributions** — Intitulé porté par une attribution de fonction dans une langue donnée."
    },
    {
      "name": "Baptisms",
      "x-collection": "baptisms",
      "x-group": "Personnes",
      "x-parent-collection": "persons",
      "description": "**└ Baptêmes** — Registre des baptêmes : identité du baptisé, date, lieu, numéro de registre, ministres et parrains."
    },
    {
      "name": "BaptismsPersons",
      "x-collection": "baptisms_persons",
      "x-group": "Personnes",
      "x-parent-collection": "baptisms",
      "description": "**└ Parrains et marraines** — Table de jonction reliant un baptême aux personnes qui en sont parrains ou marraines."
    },
    {
      "name": "BaptismsPersons1",
      "x-collection": "baptisms_persons_1",
      "x-group": "Personnes",
      "x-parent-collection": "baptisms",
      "description": "**└ Ministres du baptême** — Table de jonction reliant un baptême aux personnes qui l'ont administré. Le suffixe `_1` est généré automatiquement par Directus, `baptisms` ayant deux relations M2M distinctes vers `persons`."
    },
    {
      "name": "Reconciliations",
      "x-collection": "reconciliations",
      "x-group": "Personnes",
      "x-parent-collection": "persons",
      "description": "**└ Confessions** — Registre du sacrement de réconciliation : pénitent, date, lieu et ministre."
    },
    {
      "name": "ReconciliationsPersons",
      "x-collection": "reconciliations_persons",
      "x-group": "Personnes",
      "x-parent-collection": "reconciliations",
      "description": "**└ Parrains de confession** — Table de jonction reliant une confession aux personnes qui en sont parrains ou marraines."
    },
    {
      "name": "ReconciliationsPersons1",
      "x-collection": "reconciliations_persons_1",
      "x-group": "Personnes",
      "x-parent-collection": "reconciliations",
      "description": "**└ Ministres de confession** — Table de jonction reliant une confession aux prêtres qui l'ont administrée."
    },
    {
      "name": "Eucharists",
      "x-collection": "eucharists",
      "x-group": "Personnes",
      "x-parent-collection": "persons",
      "description": "**└ Premières communions** — Registre de la première communion eucharistique."
    },
    {
      "name": "SolemnCommunions",
      "x-collection": "solemn_communions",
      "x-group": "Personnes",
      "x-parent-collection": "eucharists",
      "description": "**└ Communions solennelles** — Registre de la communion solennelle, profession de foi renouvelant les promesses du baptême."
    },
    {
      "name": "SolemnCommunionsPersons",
      "x-collection": "solemn_communions_persons",
      "x-group": "Personnes",
      "x-parent-collection": "solemn_communions",
      "description": "**└ Ministres de communion solennelle** — Table de jonction reliant une communion solennelle aux ministres qui l'ont célébrée."
    },
    {
      "name": "SolemnCommunionsPersons1",
      "x-collection": "solemn_communions_persons_1",
      "x-group": "Personnes",
      "x-parent-collection": "solemn_communions",
      "description": "**└ Parrains de communion solennelle** — Table de jonction reliant une communion solennelle à ses parrains et marraines."
    },
    {
      "name": "Confirmations",
      "x-collection": "confirmations",
      "x-group": "Personnes",
      "x-parent-collection": "persons",
      "description": "**└ Confirmations** — Registre du sacrement de confirmation : confirmand, date, lieu, ministre et parrains."
    },
    {
      "name": "ConfirmationsPersons",
      "x-collection": "confirmations_persons",
      "x-group": "Personnes",
      "x-parent-collection": "confirmations",
      "description": "**└ Parrains de confirmation** — Table de jonction reliant une confirmation à ses parrains et marraines."
    },
    {
      "name": "Marriages",
      "x-collection": "marriages",
      "x-group": "Personnes",
      "x-parent-collection": "persons",
      "description": "**└ Mariages** — Registre des mariages, reliant deux personnes et la date de célébration."
    },
    {
      "name": "MarriagesPersons",
      "x-collection": "marriages_persons",
      "x-group": "Personnes",
      "x-parent-collection": "marriages",
      "description": "**└ Ministres de mariage** — Table de jonction reliant un mariage aux ministres qui l'ont célébré."
    },
    {
      "name": "MarriagesPersons1",
      "x-collection": "marriages_persons_1",
      "x-group": "Personnes",
      "x-parent-collection": "marriages",
      "description": "**└ Témoins de l'époux** — Table de jonction reliant un mariage aux témoins de l'époux."
    },
    {
      "name": "MarriagesPersons2",
      "x-collection": "marriages_persons_2",
      "x-group": "Personnes",
      "x-parent-collection": "marriages",
      "description": "**└ Témoins de l'épouse** — Table de jonction reliant un mariage aux témoins de l'épouse."
    },
    {
      "name": "Anointings",
      "x-collection": "anointings",
      "x-group": "Personnes",
      "x-parent-collection": "persons",
      "description": "**└ Onctions des malades** — Registre du sacrement des malades, avec le motif de l'onction."
    },
    {
      "name": "HolyOrders",
      "x-collection": "holy_orders",
      "x-group": "Personnes",
      "x-parent-collection": "persons",
      "description": "**└ Ordres sacrés** — Registre des ordinations : diaconat, presbytérat ou épiscopat reçu par une personne."
    },
    {
      "name": "ContactMethods",
      "description": "Moyens de joindre une personne, ordonnés par préférence."
    },
    {
      "name": "ContactChannels",
      "description": "Référentiel des canaux de communication et de leurs règles de validation."
    },
    {
      "name": "ContactChannelsTranslations",
      "description": "Traductions des libellés de canaux."
    },
    {
      "name": "PersonAddresses",
      "description": "Rattachement daté d'une personne à un lieu."
    },
    {
      "name": "PersonRelations",
      "description": "Liens de filiation, d'adoption, de tutelle et de parrainage."
    },
    {
      "name": "Occupations",
      "description": "Activités professionnelles datées."
    },
    {
      "name": "Funerals",
      "x-collection": "funerals",
      "x-group": "Personnes",
      "x-parent-collection": "persons",
      "description": "**└ Obsèques** — Registre des funérailles : défunt, date, lieu de célébration et lieu d'inhumation."
    },
    {
      "name": "FuneralsPersons",
      "x-collection": "funerals_persons",
      "x-group": "Personnes",
      "x-parent-collection": "funerals",
      "description": "**└ Ministres d'obsèques** — Table de jonction reliant des obsèques aux ministres qui les ont célébrées."
    },
    {
      "name": "Saints",
      "x-collection": "saints",
      "x-group": "Personnes",
      "x-parent-collection": "persons",
      "description": "**└ Saints** — Référentiel des saints et bienheureux, avec date de fête et patronages."
    },
    {
      "name": "SaintsTranslations",
      "x-collection": "saints_translations",
      "x-group": "Personnes",
      "x-parent-collection": "saints",
      "description": "**└ Traductions de saints** — Nom, titulature et biographie d'un saint dans une langue donnée."
    },
    {
      "name": "Faritra",
      "x-collection": "faritra",
      "x-group": "Personnes",
      "x-parent-collection": "persons",
      "description": "**└ Faritra** — Rattachement d'une personne à un secteur géographique de la paroisse, historisé dans le temps."
    },
    {
      "name": "Celebrations",
      "x-collection": "celebrations",
      "x-group": "Célébrations",
      "x-parent-collection": null,
      "description": "**Célébrations** — Célébrations liturgiques : horaire, fréquentation, animation, intentions, offrandes et observations."
    },
    {
      "name": "CelebrationEvents",
      "x-collection": "celebration_events",
      "x-group": "Célébrations",
      "x-parent-collection": "celebrations",
      "description": "**└ Séquences de célébration** — Étapes ou moments qui composent le déroulé d'une célébration, dans l'ordre."
    },
    {
      "name": "CelebrationSubjects",
      "x-collection": "celebration_subjects",
      "x-group": "Célébrations",
      "x-parent-collection": "celebrations",
      "description": "**└ Intentions de célébration** — Intentions portées par une célébration (messe privée, mémoire d'un saint, intention d'un groupe…)."
    },
    {
      "name": "CelebrationSubjectsSubject",
      "x-collection": "celebration_subjects_subject",
      "x-group": "Célébrations",
      "x-parent-collection": "celebration_subjects",
      "description": "**└ Cibles d'intention** — Table de jonction polymorphe : rattache une intention à un saint, une organisation ou une personne."
    },
    {
      "name": "LiturgicalPeriods",
      "x-collection": "liturgical_periods",
      "x-group": "Célébrations",
      "x-parent-collection": "celebrations",
      "description": "**└ Périodes liturgiques** — Temps de l'année liturgique (Avent, Carême, Temps ordinaire…) et leurs bornes de dates."
    },
    {
      "name": "CelebrationAnimators",
      "x-collection": "celebration_animators",
      "x-group": "Célébrations",
      "x-parent-collection": "celebrations",
      "description": "**└ Animateurs de célébration** — Personnes intervenant dans une célébration, avec le rôle qu'elles y tiennent."
    },
    {
      "name": "CelebrationGroups",
      "x-collection": "celebration_groups",
      "x-group": "Célébrations",
      "x-parent-collection": "celebrations",
      "description": "**└ Groupes animateurs** — Table de jonction reliant une célébration aux organisations chargées de l'animer."
    },
    {
      "name": "Offerings",
      "x-collection": "offerings",
      "x-group": "Célébrations",
      "x-parent-collection": "celebrations",
      "description": "**└ Offrandes** — Quêtes et offrandes collectées lors d'une célébration, avec montant total et devise."
    },
    {
      "name": "OfferingDenominations",
      "x-collection": "offering_denominations",
      "x-group": "Célébrations",
      "x-parent-collection": "offerings",
      "description": "**└ Coupures d'offrande** — Décompte par coupure d'une offrande, permettant de recouper le montant total."
    },
    {
      "name": "Observations",
      "x-collection": "observations",
      "x-group": "Célébrations",
      "x-parent-collection": "celebrations",
      "description": "**└ Observations** — Remarques qualitatives consignées après une célébration, avec appréciation chiffrée."
    },
    {
      "name": "Articles",
      "x-collection": "articles",
      "x-group": "Articles",
      "x-parent-collection": null,
      "description": "**Articles** — Actualités et publications de la paroisse, avec traduction, médias joints et ciblage de diffusion."
    },
    {
      "name": "Targets",
      "x-collection": "targets",
      "x-group": "Articles",
      "x-parent-collection": "articles",
      "description": "**└ Ciblages** — Diffusion d'un article vers une organisation, pondérée pour l'ordre d'affichage."
    },
    {
      "name": "ArticlesTranslations",
      "x-collection": "articles_translations",
      "x-group": "Articles",
      "x-parent-collection": "articles",
      "description": "**└ Traductions d'articles** — Contenu traduit d'un article, une ligne par langue."
    },
    {
      "name": "ArticlesFiles",
      "x-collection": "articles_files",
      "x-group": "Articles",
      "x-parent-collection": "articles",
      "description": "**└ Médias d'articles** — Table de jonction reliant un article aux fichiers Directus qui l'illustrent."
    },
    {
      "name": "Places",
      "x-collection": "places",
      "x-group": "Lieux",
      "x-parent-collection": null,
      "description": "**Lieux** — Lieux de célébration et adresses, avec coordonnées géographiques et rattachement à un secteur."
    },
    {
      "name": "PlacesTranslations",
      "x-collection": "places_translations",
      "x-group": "Lieux",
      "x-parent-collection": "places",
      "description": "**└ Traductions de lieux** — Adresse d'un lieu dans une langue donnée."
    },
    {
      "name": "Songs",
      "x-collection": "songs",
      "x-group": "Chants",
      "x-parent-collection": null,
      "description": "**Chants** — Répertoire des chants liturgiques, avec paroles, compositeur et parolier."
    },
    {
      "name": "Performances",
      "x-collection": "performances",
      "x-group": "Chants",
      "x-parent-collection": "songs",
      "description": "**└ Interprétations** — Enregistrements et versions d'un chant, avec accords et interprètes."
    },
    {
      "name": "PerformancesPerformer",
      "x-collection": "performances_performer",
      "x-group": "Chants",
      "x-parent-collection": "performances",
      "description": "**└ Interprètes** — Table de jonction polymorphe reliant une interprétation à une personne, une organisation ou un utilisateur."
    },
    {
      "name": "Languages",
      "x-collection": "languages",
      "x-group": "Langues",
      "x-parent-collection": null,
      "description": "**Langues** — Langues disponibles pour les contenus traduisibles (français, malgache, anglais…)."
    }
  ],
  "x-tagGroups": [
    {
      "name": "Organisations",
      "tags": [
        "Organizations",
        "OrganizationsTranslations"
      ]
    },
    {
      "name": "Personnes",
      "tags": [
        "Persons",
        "Functions",
        "FunctionsTranslations",
        "FunctionAssignations",
        "FunctionAssignationsTranslations",
        "Baptisms",
        "BaptismsPersons",
        "BaptismsPersons1",
        "Reconciliations",
        "ReconciliationsPersons",
        "ReconciliationsPersons1",
        "Eucharists",
        "SolemnCommunions",
        "SolemnCommunionsPersons",
        "SolemnCommunionsPersons1",
        "Confirmations",
        "ConfirmationsPersons",
        "Marriages",
        "MarriagesPersons",
        "MarriagesPersons1",
        "MarriagesPersons2",
        "Anointings",
        "HolyOrders",
        "ContactMethods",
        "ContactChannels",
        "ContactChannelsTranslations",
        "PersonAddresses",
        "PersonRelations",
        "Occupations",
        "Funerals",
        "FuneralsPersons",
        "Saints",
        "SaintsTranslations",
        "Faritra"
      ]
    },
    {
      "name": "Célébrations",
      "tags": [
        "Celebrations",
        "CelebrationEvents",
        "CelebrationSubjects",
        "CelebrationSubjectsSubject",
        "LiturgicalPeriods",
        "CelebrationAnimators",
        "CelebrationGroups",
        "Offerings",
        "OfferingDenominations",
        "Observations"
      ]
    },
    {
      "name": "Articles",
      "tags": [
        "Articles",
        "Targets",
        "ArticlesTranslations",
        "ArticlesFiles"
      ]
    },
    {
      "name": "Lieux",
      "tags": [
        "Places",
        "PlacesTranslations"
      ]
    },
    {
      "name": "Chants",
      "tags": [
        "Songs",
        "Performances",
        "PerformancesPerformer"
      ]
    },
    {
      "name": "Langues",
      "tags": [
        "Languages"
      ]
    }
  ],
  "paths": {
    "/items/organizations": {
      "post": {
        "summary": "Créer un enregistrement — Organisations",
        "description": "Crée un enregistrement dans Organisations.",
        "tags": [
          "Organizations"
        ],
        "operationId": "createOrganizations",
        "parameters": [
          {
            "$ref": "#/components/parameters/Meta"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Organizations"
                    }
                  },
                  {
                    "$ref": "#/components/schemas/Organizations"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Requête traitée avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Organizations"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "get": {
        "summary": "Lister les enregistrements — Organisations",
        "description": "Liste les enregistrements d'Organisations.",
        "tags": [
          "Organizations"
        ],
        "operationId": "readOrganizations",
        "parameters": [
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Meta"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Sort"
          },
          {
            "$ref": "#/components/parameters/Filter"
          },
          {
            "$ref": "#/components/parameters/Search"
          },
          {
            "$ref": "#/components/parameters/Version"
          }
        ],
        "responses": {
          "200": {
            "description": "Requête traitée avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Organizations"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Metadata"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "patch": {
        "summary": "Modifier plusieurs enregistrements — Organisations",
        "description": "Modifie plusieurs enregistrements d'Organisations en une seule requête.",
        "tags": [
          "Organizations"
        ],
        "operationId": "updateOrganizations",
        "parameters": [
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Meta"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Sort"
          },
          {
            "$ref": "#/components/parameters/Filter"
          },
          {
            "$ref": "#/components/parameters/Search"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Organizations"
                    }
                  },
                  {
                    "$ref": "#/components/schemas/Organizations"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Requête traitée avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Organizations"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "delete": {
        "summary": "Supprimer plusieurs enregistrements — Organisations",
        "description": "Supprime plusieurs enregistrements d'Organisations en une seule requête.",
        "tags": [
          "Organizations"
        ],
        "operationId": "deleteOrganizations",
        "responses": {
          "200": {
            "description": "Requête traitée avec succès."
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "parameters": []
      }
    },
    "/items/organizations/{id}": {
      "get": {
        "summary": "Lire un enregistrement — Organisations",
        "description": "Lit un enregistrement d'Organisations par son identifiant.",
        "tags": [
          "Organizations"
        ],
        "operationId": "readSingleOrganizations",
        "parameters": [
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/Meta"
          },
          {
            "$ref": "#/components/parameters/Version"
          },
          {
            "name": "id",
            "description": "Identifiant de l'enregistrement.",
            "in": "path",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer",
                  "description": "Identifiant entier auto-incrémenté.",
                  "example": 1
                },
                {
                  "type": "string",
                  "description": "Identifiant unique (UUID).",
                  "example": "8cbb43fe-4cdf-4991-8352-c461779cec02"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requête traitée avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Organizations"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "patch": {
        "summary": "Modifier un enregistrement — Organisations",
        "description": "Modifie un enregistrement existant d'Organisations.",
        "tags": [
          "Organizations"
        ],
        "operationId": "updateSingleOrganizations",
        "parameters": [
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/Meta"
          },
          {
            "name": "id",
            "description": "Identifiant de l'enregistrement.",
            "in": "path",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer",
                  "description": "Identifiant entier auto-incrémenté.",
                  "example": 1
                },
                {
                  "type": "string",
                  "description": "Identifiant unique (UUID).",
                  "example": "8cbb43fe-4cdf-4991-8352-c461779cec02"
                }
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Organizations"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Requête traitée avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Organizations"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "delete": {
        "summary": "Supprimer un enregistrement — Organisations",
        "description": "Supprime un enregistrement d'Organisations.",
        "tags": [
          "Organizations"
        ],
        "operationId": "deleteSingleOrganizations",
        "responses": {
          "200": {
            "description": "Requête traitée avec succès."
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "Identifiant de l'enregistrement.",
            "in": "path",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer",
                  "description": "Identifiant entier auto-incrémenté.",
                  "example": 1
                },
                {
                  "type": "string",
                  "description": "Identifiant unique (UUID).",
                  "example": "8cbb43fe-4cdf-4991-8352-c461779cec02"
                }
              ]
            }
          }
        ]
      }
    },
    "/items/organizations_translations": {
      "post": {
        "summary": "Créer un enregistrement — Traductions d'organisations",
        "description": "Crée un enregistrement dans Traductions d'organisations.",
        "tags": [
          "OrganizationsTranslations"
        ],
        "operationId": "createOrganizationsTranslations",
        "parameters": [
          {
            "$ref": "#/components/parameters/Meta"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrganizationsTranslations"
                    }
                  },
                  {
                    "$ref": "#/components/schemas/OrganizationsTranslations"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Requête traitée avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OrganizationsTranslations"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "get": {
        "summary": "Lister les enregistrements — Traductions d'organisations",
        "description": "Liste les enregistrements de Traductions d'organisations.",
        "tags": [
          "OrganizationsTranslations"
        ],
        "operationId": "readOrganizationsTranslations",
        "parameters": [
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Meta"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Sort"
          },
          {
            "$ref": "#/components/parameters/Filter"
          },
          {
            "$ref": "#/components/parameters/Search"
          },
          {
            "$ref": "#/components/parameters/Version"
          }
        ],
        "responses": {
          "200": {
            "description": "Requête traitée avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OrganizationsTranslations"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Metadata"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "patch": {
        "summary": "Modifier plusieurs enregistrements — Traductions d'organisations",
        "description": "Modifie plusieurs enregistrements de Traductions d'organisations en une seule requête.",
        "tags": [
          "OrganizationsTranslations"
        ],
        "operationId": "updateOrganizationsTranslations",
        "parameters": [
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Meta"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Sort"
          },
          {
            "$ref": "#/components/parameters/Filter"
          },
          {
            "$ref": "#/components/parameters/Search"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrganizationsTranslations"
                    }
                  },
                  {
                    "$ref": "#/components/schemas/OrganizationsTranslations"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Requête traitée avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OrganizationsTranslations"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "delete": {
        "summary": "Supprimer plusieurs enregistrements — Traductions d'organisations",
        "description": "Supprime plusieurs enregistrements de Traductions d'organisations en une seule requête.",
        "tags": [
          "OrganizationsTranslations"
        ],
        "operationId": "deleteOrganizationsTranslations",
        "responses": {
          "200": {
            "description": "Requête traitée avec succès."
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "parameters": []
      }
    },
    "/items/organizations_translations/{id}": {
      "get": {
        "summary": "Lire un enregistrement — Traductions d'organisations",
        "description": "Lit un enregistrement de Traductions d'organisations par son identifiant.",
        "tags": [
          "OrganizationsTranslations"
        ],
        "operationId": "readSingleOrganizationsTranslations",
        "parameters": [
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/Meta"
          },
          {
            "$ref": "#/components/parameters/Version"
          },
          {
            "name": "id",
            "description": "Identifiant de l'enregistrement.",
            "in": "path",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer",
                  "description": "Identifiant entier auto-incrémenté.",
                  "example": 1
                },
                {
                  "type": "string",
                  "description": "Identifiant unique (UUID).",
                  "example": "8cbb43fe-4cdf-4991-8352-c461779cec02"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requête traitée avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/OrganizationsTranslations"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "patch": {
        "summary": "Modifier un enregistrement — Traductions d'organisations",
        "description": "Modifie un enregistrement existant de Traductions d'organisations.",
        "tags": [
          "OrganizationsTranslations"
        ],
        "operationId": "updateSingleOrganizationsTranslations",
        "parameters": [
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/Meta"
          },
          {
            "name": "id",
            "description": "Identifiant de l'enregistrement.",
            "in": "path",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer",
                  "description": "Identifiant entier auto-incrémenté.",
                  "example": 1
                },
                {
                  "type": "string",
                  "description": "Identifiant unique (UUID).",
                  "example": "8cbb43fe-4cdf-4991-8352-c461779cec02"
                }
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationsTranslations"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Requête traitée avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/OrganizationsTranslations"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "delete": {
        "summary": "Supprimer un enregistrement — Traductions d'organisations",
        "description": "Supprime un enregistrement de Traductions d'organisations.",
        "tags": [
          "OrganizationsTranslations"
        ],
        "operationId": "deleteSingleOrganizationsTranslations",
        "responses": {
          "200": {
            "description": "Requête traitée avec succès."
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "Identifiant de l'enregistrement.",
            "in": "path",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer",
                  "description": "Identifiant entier auto-incrémenté.",
                  "example": 1
                },
                {
                  "type": "string",
                  "description": "Identifiant unique (UUID).",
                  "example": "8cbb43fe-4cdf-4991-8352-c461779cec02"
                }
              ]
            }
          }
        ]
      }
    },
    "/items/persons": {
      "post": {
        "summary": "Créer un enregistrement — Personnes",
        "description": "Crée un enregistrement dans Personnes.",
        "tags": [
          "Persons"
        ],
        "operationId": "createPersons",
        "parameters": [
          {
            "$ref": "#/components/parameters/Meta"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Persons"
                    }
                  },
                  {
                    "$ref": "#/components/schemas/Persons"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Requête traitée avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Persons"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "get": {
        "summary": "Lister les enregistrements — Personnes",
        "description": "Liste les enregistrements de Personnes.",
        "tags": [
          "Persons"
        ],
        "operationId": "readPersons",
        "parameters": [
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Meta"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Sort"
          },
          {
            "$ref": "#/components/parameters/Filter"
          },
          {
            "$ref": "#/components/parameters/Search"
          },
          {
            "$ref": "#/components/parameters/Version"
          }
        ],
        "responses": {
          "200": {
            "description": "Requête traitée avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Persons"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Metadata"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "patch": {
        "summary": "Modifier plusieurs enregistrements — Personnes",
        "description": "Modifie plusieurs enregistrements de Personnes en une seule requête.",
        "tags": [
          "Persons"
        ],
        "operationId": "updatePersons",
        "parameters": [
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Meta"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Sort"
          },
          {
            "$ref": "#/components/parameters/Filter"
          },
          {
            "$ref": "#/components/parameters/Search"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Persons"
                    }
                  },
                  {
                    "$ref": "#/components/schemas/Persons"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Requête traitée avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Persons"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "delete": {
        "summary": "Supprimer plusieurs enregistrements — Personnes",
        "description": "Supprime plusieurs enregistrements de Personnes en une seule requête.",
        "tags": [
          "Persons"
        ],
        "operationId": "deletePersons",
        "responses": {
          "200": {
            "description": "Requête traitée avec succès."
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "parameters": []
      }
    },
    "/items/persons/{id}": {
      "get": {
        "summary": "Lire un enregistrement — Personnes",
        "description": "Lit un enregistrement de Personnes par son identifiant.",
        "tags": [
          "Persons"
        ],
        "operationId": "readSinglePersons",
        "parameters": [
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/Meta"
          },
          {
            "$ref": "#/components/parameters/Version"
          },
          {
            "name": "id",
            "description": "Identifiant de l'enregistrement.",
            "in": "path",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer",
                  "description": "Identifiant entier auto-incrémenté.",
                  "example": 1
                },
                {
                  "type": "string",
                  "description": "Identifiant unique (UUID).",
                  "example": "8cbb43fe-4cdf-4991-8352-c461779cec02"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requête traitée avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Persons"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "patch": {
        "summary": "Modifier un enregistrement — Personnes",
        "description": "Modifie un enregistrement existant de Personnes.",
        "tags": [
          "Persons"
        ],
        "operationId": "updateSinglePersons",
        "parameters": [
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/Meta"
          },
          {
            "name": "id",
            "description": "Identifiant de l'enregistrement.",
            "in": "path",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer",
                  "description": "Identifiant entier auto-incrémenté.",
                  "example": 1
                },
                {
                  "type": "string",
                  "description": "Identifiant unique (UUID).",
                  "example": "8cbb43fe-4cdf-4991-8352-c461779cec02"
                }
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Persons"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Requête traitée avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Persons"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "delete": {
        "summary": "Supprimer un enregistrement — Personnes",
        "description": "Supprime un enregistrement de Personnes.",
        "tags": [
          "Persons"
        ],
        "operationId": "deleteSinglePersons",
        "responses": {
          "200": {
            "description": "Requête traitée avec succès."
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "Identifiant de l'enregistrement.",
            "in": "path",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer",
                  "description": "Identifiant entier auto-incrémenté.",
                  "example": 1
                },
                {
                  "type": "string",
                  "description": "Identifiant unique (UUID).",
                  "example": "8cbb43fe-4cdf-4991-8352-c461779cec02"
                }
              ]
            }
          }
        ]
      }
    },
    "/items/functions": {
      "post": {
        "summary": "Créer un enregistrement — Fonctions",
        "description": "Crée un enregistrement dans Fonctions.",
        "tags": [
          "Functions"
        ],
        "operationId": "createFunctions",
        "parameters": [
          {
            "$ref": "#/components/parameters/Meta"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Functions"
                    }
                  },
                  {
                    "$ref": "#/components/schemas/Functions"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Requête traitée avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Functions"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "get": {
        "summary": "Lister les enregistrements — Fonctions",
        "description": "Liste les enregistrements de Fonctions.",
        "tags": [
          "Functions"
        ],
        "operationId": "readFunctions",
        "parameters": [
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Meta"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Sort"
          },
          {
            "$ref": "#/components/parameters/Filter"
          },
          {
            "$ref": "#/components/parameters/Search"
          },
          {
            "$ref": "#/components/parameters/Version"
          }
        ],
        "responses": {
          "200": {
            "description": "Requête traitée avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Functions"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Metadata"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "patch": {
        "summary": "Modifier plusieurs enregistrements — Fonctions",
        "description": "Modifie plusieurs enregistrements de Fonctions en une seule requête.",
        "tags": [
          "Functions"
        ],
        "operationId": "updateFunctions",
        "parameters": [
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Meta"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Sort"
          },
          {
            "$ref": "#/components/parameters/Filter"
          },
          {
            "$ref": "#/components/parameters/Search"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Functions"
                    }
                  },
                  {
                    "$ref": "#/components/schemas/Functions"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Requête traitée avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Functions"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "delete": {
        "summary": "Supprimer plusieurs enregistrements — Fonctions",
        "description": "Supprime plusieurs enregistrements de Fonctions en une seule requête.",
        "tags": [
          "Functions"
        ],
        "operationId": "deleteFunctions",
        "responses": {
          "200": {
            "description": "Requête traitée avec succès."
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "parameters": []
      }
    },
    "/items/functions/{id}": {
      "get": {
        "summary": "Lire un enregistrement — Fonctions",
        "description": "Lit un enregistrement de Fonctions par son identifiant.",
        "tags": [
          "Functions"
        ],
        "operationId": "readSingleFunctions",
        "parameters": [
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/Meta"
          },
          {
            "$ref": "#/components/parameters/Version"
          },
          {
            "name": "id",
            "description": "Identifiant de l'enregistrement.",
            "in": "path",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer",
                  "description": "Identifiant entier auto-incrémenté.",
                  "example": 1
                },
                {
                  "type": "string",
                  "description": "Identifiant unique (UUID).",
                  "example": "8cbb43fe-4cdf-4991-8352-c461779cec02"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requête traitée avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Functions"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "patch": {
        "summary": "Modifier un enregistrement — Fonctions",
        "description": "Modifie un enregistrement existant de Fonctions.",
        "tags": [
          "Functions"
        ],
        "operationId": "updateSingleFunctions",
        "parameters": [
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/Meta"
          },
          {
            "name": "id",
            "description": "Identifiant de l'enregistrement.",
            "in": "path",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer",
                  "description": "Identifiant entier auto-incrémenté.",
                  "example": 1
                },
                {
                  "type": "string",
                  "description": "Identifiant unique (UUID).",
                  "example": "8cbb43fe-4cdf-4991-8352-c461779cec02"
                }
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Functions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Requête traitée avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Functions"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "delete": {
        "summary": "Supprimer un enregistrement — Fonctions",
        "description": "Supprime un enregistrement de Fonctions.",
        "tags": [
          "Functions"
        ],
        "operationId": "deleteSingleFunctions",
        "responses": {
          "200": {
            "description": "Requête traitée avec succès."
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "Identifiant de l'enregistrement.",
            "in": "path",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer",
                  "description": "Identifiant entier auto-incrémenté.",
                  "example": 1
                },
                {
                  "type": "string",
                  "description": "Identifiant unique (UUID).",
                  "example": "8cbb43fe-4cdf-4991-8352-c461779cec02"
                }
              ]
            }
          }
        ]
      }
    },
    "/items/functions_translations": {
      "post": {
        "summary": "Créer un enregistrement — Traductions de fonctions",
        "description": "Crée un enregistrement dans Traductions de fonctions.",
        "tags": [
          "FunctionsTranslations"
        ],
        "operationId": "createFunctionsTranslations",
        "parameters": [
          {
            "$ref": "#/components/parameters/Meta"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/FunctionsTranslations"
                    }
                  },
                  {
                    "$ref": "#/components/schemas/FunctionsTranslations"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Requête traitée avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FunctionsTranslations"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "get": {
        "summary": "Lister les enregistrements — Traductions de fonctions",
        "description": "Liste les enregistrements de Traductions de fonctions.",
        "tags": [
          "FunctionsTranslations"
        ],
        "operationId": "readFunctionsTranslations",
        "parameters": [
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Meta"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Sort"
          },
          {
            "$ref": "#/components/parameters/Filter"
          },
          {
            "$ref": "#/components/parameters/Search"
          },
          {
            "$ref": "#/components/parameters/Version"
          }
        ],
        "responses": {
          "200": {
            "description": "Requête traitée avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FunctionsTranslations"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Metadata"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "patch": {
        "summary": "Modifier plusieurs enregistrements — Traductions de fonctions",
        "description": "Modifie plusieurs enregistrements de Traductions de fonctions en une seule requête.",
        "tags": [
          "FunctionsTranslations"
        ],
        "operationId": "updateFunctionsTranslations",
        "parameters": [
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Meta"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Sort"
          },
          {
            "$ref": "#/components/parameters/Filter"
          },
          {
            "$ref": "#/components/parameters/Search"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/FunctionsTranslations"
                    }
                  },
                  {
                    "$ref": "#/components/schemas/FunctionsTranslations"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Requête traitée avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FunctionsTranslations"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "delete": {
        "summary": "Supprimer plusieurs enregistrements — Traductions de fonctions",
        "description": "Supprime plusieurs enregistrements de Traductions de fonctions en une seule requête.",
        "tags": [
          "FunctionsTranslations"
        ],
        "operationId": "deleteFunctionsTranslations",
        "responses": {
          "200": {
            "description": "Requête traitée avec succès."
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "parameters": []
      }
    },
    "/items/functions_translations/{id}": {
      "get": {
        "summary": "Lire un enregistrement — Traductions de fonctions",
        "description": "Lit un enregistrement de Traductions de fonctions par son identifiant.",
        "tags": [
          "FunctionsTranslations"
        ],
        "operationId": "readSingleFunctionsTranslations",
        "parameters": [
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/Meta"
          },
          {
            "$ref": "#/components/parameters/Version"
          },
          {
            "name": "id",
            "description": "Identifiant de l'enregistrement.",
            "in": "path",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer",
                  "description": "Identifiant entier auto-incrémenté.",
                  "example": 1
                },
                {
                  "type": "string",
                  "description": "Identifiant unique (UUID).",
                  "example": "8cbb43fe-4cdf-4991-8352-c461779cec02"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requête traitée avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/FunctionsTranslations"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "patch": {
        "summary": "Modifier un enregistrement — Traductions de fonctions",
        "description": "Modifie un enregistrement existant de Traductions de fonctions.",
        "tags": [
          "FunctionsTranslations"
        ],
        "operationId": "updateSingleFunctionsTranslations",
        "parameters": [
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/Meta"
          },
          {
            "name": "id",
            "description": "Identifiant de l'enregistrement.",
            "in": "path",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer",
                  "description": "Identifiant entier auto-incrémenté.",
                  "example": 1
                },
                {
                  "type": "string",
                  "description": "Identifiant unique (UUID).",
                  "example": "8cbb43fe-4cdf-4991-8352-c461779cec02"
                }
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FunctionsTranslations"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Requête traitée avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/FunctionsTranslations"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "delete": {
        "summary": "Supprimer un enregistrement — Traductions de fonctions",
        "description": "Supprime un enregistrement de Traductions de fonctions.",
        "tags": [
          "FunctionsTranslations"
        ],
        "operationId": "deleteSingleFunctionsTranslations",
        "responses": {
          "200": {
            "description": "Requête traitée avec succès."
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "Identifiant de l'enregistrement.",
            "in": "path",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer",
                  "description": "Identifiant entier auto-incrémenté.",
                  "example": 1
                },
                {
                  "type": "string",
                  "description": "Identifiant unique (UUID).",
                  "example": "8cbb43fe-4cdf-4991-8352-c461779cec02"
                }
              ]
            }
          }
        ]
      }
    },
    "/items/function_assignations": {
      "post": {
        "summary": "Créer un enregistrement — Attributions de fonction",
        "description": "Crée un enregistrement dans Attributions de fonction.",
        "tags": [
          "FunctionAssignations"
        ],
        "operationId": "createFunctionAssignations",
        "parameters": [
          {
            "$ref": "#/components/parameters/Meta"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/FunctionAssignations"
                    }
                  },
                  {
                    "$ref": "#/components/schemas/FunctionAssignations"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Requête traitée avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FunctionAssignations"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "get": {
        "summary": "Lister les enregistrements — Attributions de fonction",
        "description": "Liste les enregistrements d'Attributions de fonction.",
        "tags": [
          "FunctionAssignations"
        ],
        "operationId": "readFunctionAssignations",
        "parameters": [
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Meta"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Sort"
          },
          {
            "$ref": "#/components/parameters/Filter"
          },
          {
            "$ref": "#/components/parameters/Search"
          },
          {
            "$ref": "#/components/parameters/Version"
          }
        ],
        "responses": {
          "200": {
            "description": "Requête traitée avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FunctionAssignations"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Metadata"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "patch": {
        "summary": "Modifier plusieurs enregistrements — Attributions de fonction",
        "description": "Modifie plusieurs enregistrements d'Attributions de fonction en une seule requête.",
        "tags": [
          "FunctionAssignations"
        ],
        "operationId": "updateFunctionAssignations",
        "parameters": [
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Meta"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Sort"
          },
          {
            "$ref": "#/components/parameters/Filter"
          },
          {
            "$ref": "#/components/parameters/Search"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/FunctionAssignations"
                    }
                  },
                  {
                    "$ref": "#/components/schemas/FunctionAssignations"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Requête traitée avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FunctionAssignations"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "delete": {
        "summary": "Supprimer plusieurs enregistrements — Attributions de fonction",
        "description": "Supprime plusieurs enregistrements d'Attributions de fonction en une seule requête.",
        "tags": [
          "FunctionAssignations"
        ],
        "operationId": "deleteFunctionAssignations",
        "responses": {
          "200": {
            "description": "Requête traitée avec succès."
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "parameters": []
      }
    },
    "/items/function_assignations/{id}": {
      "get": {
        "summary": "Lire un enregistrement — Attributions de fonction",
        "description": "Lit un enregistrement d'Attributions de fonction par son identifiant.",
        "tags": [
          "FunctionAssignations"
        ],
        "operationId": "readSingleFunctionAssignations",
        "parameters": [
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/Meta"
          },
          {
            "$ref": "#/components/parameters/Version"
          },
          {
            "name": "id",
            "description": "Identifiant de l'enregistrement.",
            "in": "path",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer",
                  "description": "Identifiant entier auto-incrémenté.",
                  "example": 1
                },
                {
                  "type": "string",
                  "description": "Identifiant unique (UUID).",
                  "example": "8cbb43fe-4cdf-4991-8352-c461779cec02"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requête traitée avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/FunctionAssignations"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "patch": {
        "summary": "Modifier un enregistrement — Attributions de fonction",
        "description": "Modifie un enregistrement existant d'Attributions de fonction.",
        "tags": [
          "FunctionAssignations"
        ],
        "operationId": "updateSingleFunctionAssignations",
        "parameters": [
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/Meta"
          },
          {
            "name": "id",
            "description": "Identifiant de l'enregistrement.",
            "in": "path",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer",
                  "description": "Identifiant entier auto-incrémenté.",
                  "example": 1
                },
                {
                  "type": "string",
                  "description": "Identifiant unique (UUID).",
                  "example": "8cbb43fe-4cdf-4991-8352-c461779cec02"
                }
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FunctionAssignations"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Requête traitée avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/FunctionAssignations"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "delete": {
        "summary": "Supprimer un enregistrement — Attributions de fonction",
        "description": "Supprime un enregistrement d'Attributions de fonction.",
        "tags": [
          "FunctionAssignations"
        ],
        "operationId": "deleteSingleFunctionAssignations",
        "responses": {
          "200": {
            "description": "Requête traitée avec succès."
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "Identifiant de l'enregistrement.",
            "in": "path",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer",
                  "description": "Identifiant entier auto-incrémenté.",
                  "example": 1
                },
                {
                  "type": "string",
                  "description": "Identifiant unique (UUID).",
                  "example": "8cbb43fe-4cdf-4991-8352-c461779cec02"
                }
              ]
            }
          }
        ]
      }
    },
    "/items/function_assignations_translations": {
      "post": {
        "summary": "Créer un enregistrement — Traductions d'attributions",
        "description": "Crée un enregistrement dans Traductions d'attributions.",
        "tags": [
          "FunctionAssignationsTranslations"
        ],
        "operationId": "createFunctionAssignationsTranslations",
        "parameters": [
          {
            "$ref": "#/components/parameters/Meta"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/FunctionAssignationsTranslations"
                    }
                  },
                  {
                    "$ref": "#/components/schemas/FunctionAssignationsTranslations"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Requête traitée avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FunctionAssignationsTranslations"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "get": {
        "summary": "Lister les enregistrements — Traductions d'attributions",
        "description": "Liste les enregistrements de Traductions d'attributions.",
        "tags": [
          "FunctionAssignationsTranslations"
        ],
        "operationId": "readFunctionAssignationsTranslations",
        "parameters": [
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Meta"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Sort"
          },
          {
            "$ref": "#/components/parameters/Filter"
          },
          {
            "$ref": "#/components/parameters/Search"
          },
          {
            "$ref": "#/components/parameters/Version"
          }
        ],
        "responses": {
          "200": {
            "description": "Requête traitée avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FunctionAssignationsTranslations"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Metadata"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "patch": {
        "summary": "Modifier plusieurs enregistrements — Traductions d'attributions",
        "description": "Modifie plusieurs enregistrements de Traductions d'attributions en une seule requête.",
        "tags": [
          "FunctionAssignationsTranslations"
        ],
        "operationId": "updateFunctionAssignationsTranslations",
        "parameters": [
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Meta"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Sort"
          },
          {
            "$ref": "#/components/parameters/Filter"
          },
          {
            "$ref": "#/components/parameters/Search"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/FunctionAssignationsTranslations"
                    }
                  },
                  {
                    "$ref": "#/components/schemas/FunctionAssignationsTranslations"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Requête traitée avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FunctionAssignationsTranslations"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "delete": {
        "summary": "Supprimer plusieurs enregistrements — Traductions d'attributions",
        "description": "Supprime plusieurs enregistrements de Traductions d'attributions en une seule requête.",
        "tags": [
          "FunctionAssignationsTranslations"
        ],
        "operationId": "deleteFunctionAssignationsTranslations",
        "responses": {
          "200": {
            "description": "Requête traitée avec succès."
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "parameters": []
      }
    },
    "/items/function_assignations_translations/{id}": {
      "get": {
        "summary": "Lire un enregistrement — Traductions d'attributions",
        "description": "Lit un enregistrement de Traductions d'attributions par son identifiant.",
        "tags": [
          "FunctionAssignationsTranslations"
        ],
        "operationId": "readSingleFunctionAssignationsTranslations",
        "parameters": [
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/Meta"
          },
          {
            "$ref": "#/components/parameters/Version"
          },
          {
            "name": "id",
            "description": "Identifiant de l'enregistrement.",
            "in": "path",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer",
                  "description": "Identifiant entier auto-incrémenté.",
                  "example": 1
                },
                {
                  "type": "string",
                  "description": "Identifiant unique (UUID).",
                  "example": "8cbb43fe-4cdf-4991-8352-c461779cec02"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requête traitée avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/FunctionAssignationsTranslations"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "patch": {
        "summary": "Modifier un enregistrement — Traductions d'attributions",
        "description": "Modifie un enregistrement existant de Traductions d'attributions.",
        "tags": [
          "FunctionAssignationsTranslations"
        ],
        "operationId": "updateSingleFunctionAssignationsTranslations",
        "parameters": [
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/Meta"
          },
          {
            "name": "id",
            "description": "Identifiant de l'enregistrement.",
            "in": "path",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer",
                  "description": "Identifiant entier auto-incrémenté.",
                  "example": 1
                },
                {
                  "type": "string",
                  "description": "Identifiant unique (UUID).",
                  "example": "8cbb43fe-4cdf-4991-8352-c461779cec02"
                }
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FunctionAssignationsTranslations"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Requête traitée avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/FunctionAssignationsTranslations"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "delete": {
        "summary": "Supprimer un enregistrement — Traductions d'attributions",
        "description": "Supprime un enregistrement de Traductions d'attributions.",
        "tags": [
          "FunctionAssignationsTranslations"
        ],
        "operationId": "deleteSingleFunctionAssignationsTranslations",
        "responses": {
          "200": {
            "description": "Requête traitée avec succès."
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "Identifiant de l'enregistrement.",
            "in": "path",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer",
                  "description": "Identifiant entier auto-incrémenté.",
                  "example": 1
                },
                {
                  "type": "string",
                  "description": "Identifiant unique (UUID).",
                  "example": "8cbb43fe-4cdf-4991-8352-c461779cec02"
                }
              ]
            }
          }
        ]
      }
    },
    "/items/baptisms": {
      "post": {
        "summary": "Créer un enregistrement — Baptêmes",
        "description": "Crée un enregistrement dans Baptêmes.",
        "tags": [
          "Baptisms"
        ],
        "operationId": "createBaptisms",
        "parameters": [
          {
            "$ref": "#/components/parameters/Meta"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Baptisms"
                    }
                  },
                  {
                    "$ref": "#/components/schemas/Baptisms"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Requête traitée avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Baptisms"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "get": {
        "summary": "Lister les enregistrements — Baptêmes",
        "description": "Liste les enregistrements de Baptêmes.",
        "tags": [
          "Baptisms"
        ],
        "operationId": "readBaptisms",
        "parameters": [
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Meta"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Sort"
          },
          {
            "$ref": "#/components/parameters/Filter"
          },
          {
            "$ref": "#/components/parameters/Search"
          },
          {
            "$ref": "#/components/parameters/Version"
          }
        ],
        "responses": {
          "200": {
            "description": "Requête traitée avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Baptisms"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Metadata"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "patch": {
        "summary": "Modifier plusieurs enregistrements — Baptêmes",
        "description": "Modifie plusieurs enregistrements de Baptêmes en une seule requête.",
        "tags": [
          "Baptisms"
        ],
        "operationId": "updateBaptisms",
        "parameters": [
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Meta"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Sort"
          },
[...]
