BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
SITE_HOST=
DB_DATABASE=
DB_PASSWORD=
DB_PORT=
DB_HOST=
DB_USER=
BETTER_AUTH_EMAIL_VERIFICATION=1

#https://better-auth.com/docs/authentication/google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

#https://better-auth.com/docs/authentication/apple
APPLE_CLIENT_ID=
APPLE_TEAM_ID=
APPLE_KEY_ID=
APPLE_PRIVATE_KEY=""

SENTRY_AUTH_TOKEN=
SENTRY_ORGANIZATION=
SENTRY_PROJECT=
SENTRY_URL=
SENTRY_DSN=
NEXT_PUBLIC_SENTRY_DSN=

UMAMI_HOST=
UMAMI_SITE_ID=

DIRECTUS_URL=
DIRECTUS_TOKEN=

NEXT_PUBLIC_CDN_HOST=